.landing-page{
    display: flex;
    flex-direction:column;
    flex-grow: 1;    
    align-items: center;
    justify-content: center;  
    background-color: lightgray;
}

canvas{
    border: 1px solid #000000;
    width:600px;
    background: lightgreen;    
}